@import "../../scss/extends.scss";
@import "../../scss/vars.scss";
@import "../../scss/desctop.scss";

.product_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 480px;

  @media (max-width: 886px) {
    width: auto;
  }
}

.product_options {
  margin-bottom: 16px;

  .options_list {
    margin-bottom: 14px;
  }
}

.product_info_btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all 0.3s linear;

  &:hover {
    transform: scale(1.1);
  }

  .icon {
    width: 24px;
    height: 24px;
    padding: 0;
  }
}


@keyframes openProduct {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
