@import "../../scss/extends.scss";
@import "../../scss/vars.scss";
@import "../../scss/desctop.scss";

.icon_text_button {
    @extend %display-flex-center;
    @extend %desc-normal;
    padding: 12px 16px;
    background-color: $white;
    border: 1px solid $gray-line;
    border-radius: 6px;
    transition-duration: 0.3s;
    cursor: pointer;
  
    &:active {
      transform: scale(0.9);
    }
}