@import "../../scss/vars.scss";

.slider_item {
  background-color: $white;
  width: 235px;
  height: 100%;

  &:not(:last-child) {
    margin-right: 23px;
  }

  .button {
    padding: 10px;
    width: 100%;

    @media (max-width: 1024px) {
      padding: 5px;
    }

    @media (max-width: 768px) {
      width: auto;
      padding: 6px 15px;
      background-color: $primary-30;
      color: $primary;
      font-weight: 700;
    }
  }

  @media (max-width: 1440px) {
    width: 180px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media (max-width: 1024px) {
    width: 170px;

    &:not(:last-child) {
      margin-right: 18px;
    }
  }

  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    padding: 10px;
    flex-shrink: 0;
  }
}

.slider_item_img {
  width: 235px;
  height: 235px;
  user-select: none;

  @media (max-width: 1440px) {
    width: 180px;
    height: 180px;
  }

  @media (max-width: 1024px) {
    width: 170px;
    height: 170px;
  }

  @media (max-width: 768px) {
    width: 80px;
    height: 80px;
    margin-bottom: 0;
  }
}

.slider_item_info {
  padding: 16px;
  text-align: center;

  @media (max-width: 768px) {
    text-align: start;
  }
}

.slider_item_title {
  margin-bottom: 8px;
  height: 46px;
  overflow: hidden;

  @media (max-width: 1024px) {
    font-size: 1.1em;
  }
}

.slider_item_descr {
  margin-bottom: 12px;

  @media (max-width: 768px) {
    display: none;
  }
}