@import "../../scss/vars.scss";

.form_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 60px;
}

button:disabled {
  background-color: $primary-light;
  border: none;
  cursor: default;

  &:hover {
    background-color: $primary-light;
  }
}
