.categories {
  margin-top: 106px;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;

  @media (max-width: 768px) {
    overflow-x: scroll;
    // gap: 10px;
    padding: 10px;
    margin-top: 56px;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
  }
  }
}

.container_categories {
    @media (max-width: 768px) {
        width: 99%;
    }
}