@import "../../scss/extends.scss";
@import "../../scss/vars.scss";
@import "../../scss/desctop.scss";

.header_upper,
.upper_left,
.upper_right {
  display: flex;
  justify-content: space-around;
}

.header_upper {
  justify-content: space-between;
  padding: 10px 0;

  @media (max-width: 768px) {
    display: none;
  }
}

.upper_left {
  align-items: center;
  justify-content: start;
}

.upper_right {
  align-items: center;
  justify-content: end;
}

.upper_left_item {
  margin-right: 40px;
  width: fit-content;
}

.work_time {
  width: fit-content;
}

.sign_up_panel {
  width: min-content;
  white-space: nowrap;
}

.work_time {
  margin-right: 40px;

  @media (max-width: 1024px) {
    display: none;
  }
}

.icon {
  @extend %display-flex-center;
  padding-right: 8px;
}
