@import "../../scss/vars.scss";

.filter_item {
    input {
        display: none;
    }

    input:checked + span {
        background-color: $primary;
        color: $white;
    }

    span {
        display: inline-block;
        padding: 11px 20px;
        background-color: $gray-line;
        border-radius: 6px;
        cursor: pointer;
        user-select: none;
    }
}