@import "../../scss/vars.scss";

.filter_item {
    display: inline-block;
    padding: 11px 20px;
    background-color: $gray-line;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
}

.filter_item_active {
    background-color: $primary;
    color: $white;
}