@import "../../scss/extends.scss";
@import "../../scss/vars.scss";
@import "../../scss/desctop.scss";

.logo {
  @extend %display-flex-center;
  cursor: pointer;

  &:hover {
    div {
      color: $primary;
    }
  }

  &:active {
    div {
      color: $black;
    }
  }

  .icon {
    padding-right: 12px;

    @media (max-width: 1024px) {
      padding-right: 10px;
    }
  }
}

.logo_title {
  @extend %desc-h4;
  transition-duration: 0.3s;
  user-select: none;

  @media (max-width: 1024px) {
    font-size: 18px;
  }
}