@import "../../scss/vars.scss";

.empty_item {
  width: 300px;
  background-color: $white;
  border: 1px solid $gray-line;
  border-radius: 12px;

  @media (max-width: 1440px) {
    width: 100%;
  }

  @media (max-width: 650px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
  }
}

.empty_img {
  width: 100%;
  height: 300px;
  margin-bottom: 16px;
  background-color: $gray-empty;
  border-radius: 12px 12px 0px 0px;
  animation: loading 2s linear infinite;

  @media (max-width: 650px) {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
  }
}

.empty_text {
  padding: 0px 20px 20px 20px;

  @media (max-width: 650px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    flex: 1;
  }
}

.empty_title {
  width: 100%;
  height: 24px;
  background-color: $gray-empty;
  margin-bottom: 12px;
  border-radius: 6px;
  animation: loading 2s linear infinite;

  @media (max-width: 650px) {
    display: none;
  }
}

.empty_descr {
  width: 100%;
  height: 44px;
  background-color: $gray-empty;
  margin-bottom: 14px;
  border-radius: 6px;
  animation: loading 2s linear infinite;

  @media (max-width: 650px) {
    height: 80px;
    width: 100%;
    margin: 0;
    margin-left: 10px;
  }
}

.empty_price_info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 650px) {
    display: none;
  }
}

.empty_button {
  width: 131px;
  height: 48px;
  background-color: $gray-empty;
  border-radius: 6px;
  animation: loading 2s linear infinite;

  @media (max-width: 650px) {
    display: none;
  }
}

.empty_price {
  width: 52px;
  height: 24px;
  background-color: $gray-empty;
  border-radius: 6px;
  animation: loading 2s linear infinite;

  @media (max-width: 650px) {
    display: none;
  }
}

@keyframes loading {
  0% {
    background: $gray-empty;
  }
  25%{
    background: #f1f1f1;
  }
  50% {
    background: #f9f9f9;
  }
  75% {
    background: #f1f1f1;
  }
  100% {
    background: $gray-empty;
  }
}
