@import "../../scss/vars.scss";

.filter_section_title {
  margin-bottom: 16px;
  color: $gray-text;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.filter_list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 8px;
}