@import "../../scss/extends.scss";
@import "../../scss/vars.scss";
@import "../../scss/desctop.scss";

.section_upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.section_title {
  @extend %desc-h1;

  @media (max-width: 768px) {
    font-size: 28px;
    line-height: 36px;
  }
}

.product_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 100%;
  margin-bottom: 46px;

  @media (max-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    gap: 15px;
  }

  @media (max-width: 650px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.prod_message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  height: 488px;

  @media (max-width: 768px) {
    height: 244px;
  }
}