%desc-h1 {
  font-size: 40px;
  line-height: 48px;
}

%desc-h2 {
  font-size: 32px;
  line-height: 40px;
}

%desc-h3 {
  font-size: 24px;
  line-height: 32px;
}

%desc-h4 {
  font-size: 20px;
  line-height: 28px;
}

%desc-title {
  font-size: 16px;
  line-height: 20px;
}

%desc-mini-bold {
  font-size: 14px;
  line-height: 18px;
}

%desc-mini {
  font-size: 14px;
  line-height: 18px;
}

%desc-big-text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

%desc-sub-title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

%desc-normal {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
