@import "../../scss/extends.scss";
@import "../../scss/vars.scss";
@import "../../scss/desctop.scss";

.link_to_scroll {
  transition-duration: 0.3s;
  cursor: pointer;
  user-select: none;
  &:hover {
    color: $primary;

    &:active {
      color: $black;
    }
  }
}
